header{
    background-color: rgb(80,102,62);
    color: ivory;
    padding: 20px 0;
    margin-top: 0px;
}
.header-content{
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header h1{
    margin-left: 20px;
}

body{
    margin: 0px;
    padding: 0px;

}
nav ul{
    list-style: none;
    display: flex
    ;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

p{
    text-align: center;
}

#hero{
    background-image: url(leaf.jpg);
    background-size: cover;
    background-position: center;
    height: 490px;
    padding: 70px;
    align-items: center;
}
.hero-content{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    background-position: center;
        color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 70px;
    justify-content: center;
}
.hero-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(69,91,53);
    border-radius: 10px;
    font-size: 20x;
    color: white;
}
.hero-button:hover{
    background-color: rgb(54,81,33);
}
body{
    background-color: ivory;
}
.footer{
    text-align: center;
    font-size: 20px;
    color: rgb(54,81,33);
    padding-top: 30px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    border-radius: 500px;
    padding-top: 20px;
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
